.mainLayoutBreadcrumb {
    margin: 12px 0
}
.mainLayoutChildContent {
    padding: 24px;
    background-color: #fff;
 //   min-height: 800px;
}
.normal {
    font-family: "Microsoft Yahei";
    margin: auto 0;
}



.title {
    text-align:center;
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
